body {
    display: flex;
    align-items:  center;
    flex-direction: column;
    gap: 5px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: flex-end; /* Fixes gap on the right between red squares and border
                                  Gap still appears at higher numbers but is at bottom currently */
    border: 3px solid black;
    width: 960px;
    height: 960px;
}


.square-color {
    background-color: red;
}